name: run-script
run-name: ${{ github.actor }} is running a script
on: workflow_dispatch
jobs:
  example-job:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./scripts
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v4
      - name: Make script executable
        run: chmod +x my-script.sh
      - name: Run a script
        run: ./my-script.sh
